<%= image_tag("additional.png", alt: "Additional Icon") %>
<h1>Additional Info</h1>
<p>Besides creating awesome websites I also like making movies and photoshoping stuff.</p>
<p>When i have some free time and don't want to sit around the computer I like to roll around with</p>
<p>skates or skateboard.</p>
<p>In addition to all that i can even play guitar a bit or any musical instrument when u give me the power of google</p>