<%= image_tag("computer.png", alt: "Computer Icon") %>
<h1>Computer Skills</h1>
<p>Programs:</p>
<p><b>Beginner:</b> Visual Studio, Git, Rubymine, Unity</p>
<p><b>Moderate:</b> Sony Vegas, Photoshop, Excel, Word</p>
<p><b>Expert:</b> Google</p>
<p>Languages:</p>
<p><b>Beginner:</b> Java, Lua, Ruby</p>
<p><b>Moderate:</b> C#, Javascript, HTML, CSS</p>
<p><b>Expert:</b> Google</p>
