<%= image_tag("education.png", alt: "Education Icon") %>
<h1>Education</h1>
<ul>
  <li>
    <p><b>Basic Education</b></p>
    <p>Virtsu Põhikool</p>
    <p>2001 - 2010</p>
  </li>
  <li>
    <p><b>Secondary Education</b></p>
    <p>Kullamaa Keskkool</p>
    <p>2010 - 2013</p>
  </li>
  <li>
    <p><b>Higher Education</b></p>
    <p>Estonian Information Technology College - IT Systems Development</p>
    <p>2013 - ...</p>
  </li>
</ul>
