<%= image_tag("help.png", alt: "Help Icon") %>
<h1>HELP</h1>
<p>Say <b>"SOURCE CODE"</b> to open github for this project (Also make sure browser doesn't block it).</p>
<p>As this is my first implementation of this kind of technology then many bugs are to be expected.</p>
<p>Make sure that microphone is allowed on this site, a red dot on the tab bar should indicate that mic is working</p>
<p>If for some reason the words said aren't appearing in the search field above, refresh the site</p>
<p><b>If you are a bit shy and don't want to talk</b>, then you can enter respective pages into address bar</p>
<p><b>Example:</b> https://cvappjvats.herokuapp.com<b>/personal</b></p>

<p>/additional /computer /education /help /language /personal /work</p>

<p><b>BONUS:</b> Try to say "Sing a song" - Beware, it cannot be stopped till the end.</p>