<%= image_tag("home.png", alt: "Home Icon") %>
<h1>Johannes Vatsfeldt's Curriculum Vitae</h1>
<p>This site is controlled by <b>VOICE</b></p>
<p>In order for this site to function properly you have to speak slow and clearly</p>
<p>Words you say appear briefly at the top in the input field</p>
<p>All the page names are listed in the footer, take a look and say something from there.</p>
<p>For more information say <b>HELP</b></p>