<%= image_tag("language.png", alt: "Language Icon") %>
<h1>Language Skills</h1>
<p>Native language: Estonian</p>
<p>Additional languages:</p>
<ul>
  <li><p>English: C1</p></li>
  <li><p>Russian: -C1, I hear it all the day and yet it doesn't make sense.</p></li>
  <li><p>German: C999, at least i don't swear all the time unlike in Russian.</p></li>
  <li><p>Finnish, French, Chinese... Google translate</p></li>
</ul>