<h1>Personal information</h1>
<ul>
  <li>
    <p>Name: Johannes Vatsfeldt</p>
  </li>
  <li>
    <p>Age: 21</p>
  </li>
  <li>
    <p>Birthdate: 11. february 1994</p>
  </li>
  <li>
    <p>Gender: Male</p>
  </li>
  <li>
    <p>Primary Address: Koidu 118-17 Tallinn Harjumaa</p>
  </li>
  <li>
    <p>Email: johannes.vatsfledt@gmail.com</p>
  </li>
  <li>
    <p>Phone: 56654802</p>
  </li>
  <li>
    <p>Education: Higher education in acquisition</p>
  </li>
  <li>
    <p>Current Work Relations: Studying</p>
  </li>
</ul>
