<%= image_tag("work.png", alt: "Work Icon") %>
<h1>Work Experience</h1>
<p><b>Construction worker (2010 - 2011 Summer)</b></p>
<p>Not afraid to pickup a hammer.</p>
<p><b>Ticket inspector in Virtsu port (2012 Summer)</b></p>
<p>I can take quite a few words, and still keep working.</p>
<p><b>Medical transport assistant (2013 - 2014)</b></p>
<p>Blood, guts, crazy people... no problem.</p>
<p><b>And now when to combine all those skills, voila perfect base for cold hearted IT man</b></p>

