/*font-family: 'Fjalla One', sans-serif;*/
@import "bootstrap-sprockets";
@import "bootstrap";

/*Header*/
header {
  #header {

  }
  p {
    color: #666666;
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    margin: 30px;
    float: left;
  }
  #form {
    position: relative;
    width: 50%;
    margin-top: 30px;
    float: left;
    margin-left: auto;
    margin-right: auto;
  }
  input {

  }
}
//Container = changing content
.container {
  margin-bottom: 0px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
  border: 1px solid #eaeaea;
  h1 {
    text-align: center;
    color: #666666;
    font-family: 'Oswald', sans-serif;
  }
  ul {
    list-style-type: none;
  }
  p {
    font-family: 'Oswald', sans-serif;
    color: #666666;
    text-align: center;
  }
  img {
    position: absolute;
    top: 130px;
    float: left;
    width: 100px;
  }
}
html, body, #content { height: 100%; }
/* Content */
body > #content {
  height: auto;
  min-height: 100%;
}

/*Footer*/
#footer {
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
  clear: both;
  position: relative;
  z-index: 10;
  height: 130px;
  margin-top: -130px;
  background: #f8f8f8;
  ul {
    list-style-type: none;
    li {
      float: left;
      padding-left: 15px;
      p {
        color: #666666;
        font-family: 'Oswald', sans-serif;
        font-size: xx-large;
      }
    }
  }
}