<div id="footer">
  <ul>
    <li><p>Education</p></li>
    <li><p>Work Experience</p></li>
    <li><p>Language Skills</p></li>
    <li><p>Additional Info</p></li>
    <li><p>Personal Info</p></li>
    <li><p>Computer Skills</p></li>
    <li><p>Help</p></li>
    <li><p>Home</p></li>
  </ul>
</div>