<header>
  <div class="navbar navbar-static-top navbar-default">
    <p>To navigate this site use your VOICE</p>
    <div id="form" class="form-group">
      <input type="text" class="form-control" placeholder="Your speech will appear here!">
    </div>
  </div>
</header>