<header>
  <div class="navbar navbar-static-top navbar-default">
    <p>To navigate this site use your VOICE</p>
    <div id="form" class="form-group">
      <input type="text" id="input-field" class="form-control" placeholder="">
    </div>
  </div>
</header>